/*--- GLOBAL STYLES -------------------------------------------------*/
@font-face {
    font-family: "myriad pro";
    src: url(fonts/myriad-pro.otf);
}

body{
    background-color: #f6f7fb;
}
div.container{
    min-width: 300px !important;
}

h2{
    font: 42px "segoe ui", sans-serif;
    text-transform: uppercase;
    color: #5766c7;
    font-weight: bold;
    margin-top: 0;
}

p{
    font: 16px "segoe ui", sans-serif;
    line-height: 140%;
    text-align: justify;
    color: #3f3f3f;
}
.logo{
    font: 24px "segoe ui", sans-serif;
    font-weight: 600;
    color: #3f3f3f;
}
a.logo-link:link{
    text-decoration: none;
}

/*--- HEADER-MENU --------------------------------------------------------*/
.header-bg{
    width: 100%;
    position: relative;
    z-index: 1000;
    height: 60px;
    background-color: transparent;
    background-size: cover;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}

.stickyHead{
    position: fixed;
    top: 0;
}

.header-bg header ul{
    /*width: 700px;*/
    margin-top: 20px;
    float: right;


}
.header-bg header li{
    float: right;
    box-sizing: border-box;
    margin-left: 0;
    width:130px;
    height:36px;
    font: 16px "segoe ui", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: #3f3f3f;
    list-style-type: none;
    cursor: pointer;
    padding-top: 5px;

    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.header-bg header li span.icon, footer span.icon{
    display: none;
}
.header-bg header li span.text, footer span.text{
    display: inline;
}
.header-bg header li a{
    color: #3f3f3f;
}
.header-bg header li a:hover{
    text-decoration: none;
}
.header-bg header li:first-child{
    color: #e36965;
    border: 1px solid #e36965;
    width:130px;
    height:36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.header-bg header li:first-child a{
    color: #e36965;
}

.header-bg header li:hover{
    border: 1px solid rgba(99, 104, 136, 0.1);
    background-color: rgba(99, 104, 136, 0.1);
}



/*--- HOME --------------------------------------------------------*/
section.topImg{
    height: 100vh;

    background-image: url(images/home.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}

section.subscribe{
    height: 100vh;

    background-image: url(images/subscribe-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}

section.unsubscribe{
    height: 100vh;

    background-image: url(images/unsubscribe-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
section.contacts{
    height: 100vh;

    background-image: url(images/contacts-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
section.topImg h1, section.topImg p{
    text-align: center;
}
section.topImg span.bold{
    font-weight: bold;
}
section.topImg h1{
    font: 36px "segoe ui", sans-serif;
    margin-top: 175px;
    margin-bottom: 25px;
}
section.topImg p{
    margin-bottom: 90px;
    line-height: 150%;
}
section.topImg .main-buttons.left{
    font: 15px "myriad pro", sans-serif;
    font-weight: 400;
    float: right;
    width: 220px;
    height:46px;
    padding-top: 12px;
    background-color: #5766c7;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);

}
section.topImg .main-buttons.right{
    font: 15px "myriad pro", sans-serif;
    font-weight: 400;
    color: #5766c7;
    width: 220px;
    height:46px;
    padding-top: 12px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);

}

section .form-container{
    background-color: rgba(219, 222, 235, 0.7);
    box-shadow: 0 3px 10px 5px rgba(150, 150, 150, 0.3);
    margin-top: 135px;
    padding-top: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}
section .form-container h4{
    font: 24px "segoe ui", sans-serif;
    margin-bottom: 40px;
}
section .form-container h4 span.bold{
    font-weight: bold;
}
section .form-container textarea {
    width: 100%;
    height: 172px;
    margin-top: 0;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px 5px rgba(200, 200, 200, 0.3);
    -moz-box-shadow: 0 5px 10px 5px rgba(200, 200, 200, 0.3);
    box-shadow: 0 5px 10px 5px rgba(150, 150, 150, 0.3);
}
section .form-container input.email{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px 5px rgba(200, 200, 200, 0.3);
    -moz-box-shadow: 0 5px 10px 5px rgba(200, 200, 200, 0.3);
    box-shadow: 0 5px 10px 5px rgba(150, 150, 150, 0.3);
}
section .form-container textarea::-webkit-input-placeholder{
    /*padding: 15px;*/
    color: #3c4052;
}
section .form-container textarea::-moz-placeholder{
    /*padding: 15px;*/
    color: #3c4052;
}
section .form-container textarea:-ms-input-placeholder{
    /*padding: 15px;*/
    color: #3c4052;
}
section .form-container input{
    margin: auto;
    width: 100%;
}
section .form-container button{
    font: 15px "myriad pro", sans-serif;
    font-weight: 400;
    width: 220px;
    height:46px;
    margin-top: 36px;
    margin-bottom: 44px;
    background-color: #e36965 !important;
    border: none !important;
    color: white !important;
    -webkit-box-shadow:  0 5px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:  0 5px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow:  0 5px 10px 5px rgba(0, 0, 0, 0.3);
}

section .contacts-container{
    background-color: rgba(219, 222, 235, 0.7);
    box-shadow: 0 3px 10px 5px rgba(150, 150, 150, 0.3);
    margin-top: 150px;
    padding-top: 62px;
    padding-bottom: 62px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}
section .contacts-container .row{
    background-image: url(images/contacts.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% center;
}
section .contacts-container h4{
    margin-top: 10px;
    margin-bottom: 46px;
    font: 36px "segoe ui", sans-serif;

}
section .contacts-container p{
    font: 18px "segoe ui", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
section .contacts-container a{
    font: 20px "segoe ui", sans-serif;
}
section .contacts-container a img{
    margin-left: 18px;
    margin-right: 18px;
}
section .contacts-container a:link{
    color: #3c4052;
}

/*--- MAIN CONTENT -------------------------------------------------*/
.mainSection{
    padding-top: 85px;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
}
.mainSection .container.main-content{
    background-image: url(images/container-bg.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.mainSection .container.main-content .steps .pic{

}
.mainSection .container.main-content .steps .pic.center{
    text-align: center;
}
.mainSection .container.main-content .steps .pic.right{
    text-align: right;
}
.mainSection .container.main-content .steps p{
    font: 18px "segoe ui", sans-serif;
    width: 165px;
    margin-top: 25px;
    text-align: center;
}
.mainSection .container.main-content .steps .pic.center p{
    margin: auto;
    margin-top: 25px;
}
.mainSection .container.main-content .steps .pic.right p{
    float: right;
}

.mainSection .how-do-we-work{
    margin-top: 125px;
}
.mainSection .how-do-we-work article{
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 140px;
}
.mainSection .how-do-we-work h2 span.new-line{
    display: block;
}
.mainSection .how-do-we-work hr{
    width: 74px;
    height: 8px;
    background-color: #e36965;
    margin-left: 0;
    margin-right: 0;
}

/*--- FOOTER -------------------------------------------------*/
footer{
    background-color: #636888;
    height: 115px;
}
footer h3.logo {
    margin-top: 38px;
    margin-bottom: 0;
    color: white;
}
footer p{
    color: #b6bad5;
    margin-top: 5px;
    margin-bottom: 0;
}

footer a.main-buttons{
    font: 15px "myriad pro", sans-serif;
    font-weight: 400;
    float: right;
    width: 220px;
    height:46px;
    margin-top: 44px;
    padding-top: 14px;
    background-color: #e36965 !important;
    border: none !important;
    color: white !important;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
}



/*--- DEVICES -----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/*--- 1200 - 1600 px -------------------------------------------------*/
@media (max-width: 1599px) {

}


/*--- 992 - 1200 px -------------------------------------------------*/
@media (max-width: 1199px) {

}


/*--- 768 - 992 px -------------------------------------------------*/
@media (max-width: 991px) {
    .mainSection .how-do-we-work h2 span.new-line{
        display: block;
        font-size: smaller;
    }

}


/*--- 480 - 768 px -------------------------------------------------*/
@media (max-width: 768px) {

    .header-bg header li{
        border: 1px solid black;
        padding-top: 7px;
        width:36px;
        height:36px;
        font: 16px "segoe ui", sans-serif;
        margin-left: 5px;
        margin-bottom: 5px;

    }
    .header-bg header li:first-child{
        width:36px;
        height:36px;
    }
    .header-bg header li span.icon{
        display: inline;
    }
    .header-bg header li span.text{
        display: none;
    }
    section.topImg .main-buttons.left{
        width: 150px;
        height:46px;
        padding-top:12px;
    }
    section.topImg .main-buttons.right{
        width: 150px;
        height:46px;
        padding-top:12px;
    }

    section .contacts-container{
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    section .contacts-container h4{
        margin-top: 0;
        margin-bottom: 20px;
        font: 28px "segoe ui", sans-serif;

    }
    section .contacts-container p{
        font: 12px "segoe ui", sans-serif;
        margin-bottom: 15px;
    }
    section .contacts-container a{
        font: 14px "segoe ui", sans-serif;
    }
    section .contacts-container a img{
        margin-left: 10px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    section .form-container{
        margin-top: 105px;
    }


    .mainSection .container.main-content .steps .pic img{
        width: 85px;
    }
    .mainSection .container.main-content .steps .pic.center{
        text-align: center;
    }
    .mainSection .container.main-content .steps .pic.right{
        text-align: center;
    }
    .mainSection .container.main-content .steps .pic.left{
        text-align: center;
    }
    .mainSection .container.main-content .steps p{
        font: 14px "segoe ui", sans-serif;
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    .mainSection .container.main-content .steps .pic.center p{
        margin: auto;
        margin-top: 25px;
    }
    .mainSection .container.main-content .steps .pic.right p{
        float: right;
    }

    .mainSection .how-do-we-work h2 span.new-line{
        display: block;
        font-size: 70%;
        text-align: center;
    }
    .mainSection .how-do-we-work hr{
        width: 74px;
        height: 8px;
        background-color: #e36965;
        margin: auto;
        margin-bottom: 20px;
    }
    .mainSection .how-do-we-work article{
        padding-left: 0;
        margin-bottom: 300px;
    }

    footer h3.logo {
        margin-top: 20px;
    }
    footer p{
        color: #b6bad5;
        margin-top: 5px;
        font-size: 12px;
    }

    footer a.main-buttons{
        font: 14px "myriad pro", sans-serif;
        font-weight: 400;
        float: right;
        width: 150px;
        height:36px;
        margin-top: 30px;
        padding-top: 10px;
        background-color: #e36965 !important;
        border: none !important;
        color: white !important;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    }


}

/*--- 300 - 480 px -------------------------------------------------*/
@media (max-width: 480px) {

    section.topImg .main-buttons.left{
        width: 120px;
        height:35px;
        font: 12px "myriad pro", sans-serif;
        padding-top: 8px;
    }
    section.topImg .main-buttons.right{
        width: 120px;
        height:35px;
        font: 12px "myriad pro", sans-serif;
        padding-top: 8px;
    }
    section.topImg h1{
        font: 30px "segoe ui", sans-serif;
        margin-top: 120px;
    }
    section.topImg p{
        margin-bottom: 70px;
        line-height: 150%;
    }

    section .contacts-container .row{
        background-image: url(images/contacts.png);
        -webkit-background-size: 30%;
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    section .contacts-container{
        margin-top: 110px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    section .contacts-container .row .col-xs-7{
        margin-left: -21%;
    }


    section .contacts-container h4{
        margin-top: 130px;
        margin-bottom: 20px;
        font: 28px "segoe ui", sans-serif;

    }

    section .contacts-container p{
        font: 12px "segoe ui", sans-serif;
        margin-bottom: 15px;
    }
    section .contacts-container a{
        font: 14px "segoe ui", sans-serif;
        word-wrap: break-word;
    }
    section .contacts-container a img{
        margin-bottom: 10px;
    }
    section .form-container button{
        font: 12px "myriad pro", sans-serif;
        width: 100px;
        height:30px;
        margin-top: 44px;
        padding-top: 8px;
    }
    .mainSection{
        padding-top: 55px;
    }
    .mainSection .container.main-content{
        background-image: url(images/container-bg.png);
        background-repeat: no-repeat;
        -webkit-background-size: 70%;
        background-size: 70%;
    }
    .mainSection .container.main-content .steps .pic img{
        width: 45px;
    }
    .mainSection .container.main-content .steps p{
        font: 14px "segoe ui", sans-serif;
    }

    .mainSection .how-do-we-work{
        margin-top: 60px;
    }
    .mainSection .how-do-we-work hr{
        height: 3px;
        margin-bottom: 10px;
    }
    .mainSection .how-do-we-work article{
        margin-bottom: 220px;
    }

    footer a.main-buttons{
        font: 12px "myriad pro", sans-serif;
        width: 100px;
        height:30px;
        margin-top: 44px;
        padding-top: 8px;
    }


}
/*--- 300 - 400 px -------------------------------------------------*/
@media (max-width: 400px) {
    footer span.icon{
        display: inline;
    }
    footer span.text{
        display: none;
    }
    footer a.main-buttons{
        width: 30px;
    }
    footer a.main-buttons{

        width:30px;
        height:30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding-left: 0;
        padding-right: 0;
    }
}
